{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Course Number:
        <dd><input type=text size=30 name=courseNumber>
        <dt>Course Name:
        <dd><input type=text size=30 name=courseName>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.courseNumber }}</h2>{{ entry.courseName|safe }}
  {% else %}
    <li><em>You're taking no classes! You're baaaaad. </em>
  {% endfor %}
  </ul>
{% endblock %}