{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.courseNumber }}</h2>{{ entry.courseName|safe }},{{ entry.courseBit|safe }}
  {% else %}
    <li><em>No classes found. </em>
  {% endfor %}
  </ul>


  <form action="{{ url_for('input_entries') }}" method=get class=add-entry>
    <dd><input type=submit value="Add Entry to Database">
  </form>
  <form action="{{ url_for('filter') }}" method=get class=add-entry>
    <dd><input type=submit value="Filter by Different Criteria">
  </form>
  <form action="{{ url_for('show_entries') }}" method=get class=add-entry>
    <dd><input type=submit value="See Full Course List">
  </form>
  {% endblock %}